body{
    padding: 0;
    margin: 0 auto;
    background-color: grey;
}

#myModal {
    display: none;
    position: absolute;
    left: 100px;
    top: 100px;
    width: 100px;
    height: 100px;
    background-color: whitesmoke;
}

#closeModal {
    cursor: pointer;
    margin-left: 20px;
}

